.mobile {
  display: none;
}

.listItems {
  margin-right: 20px;
}

.listItems h1 {
  color: #01467E;
  margin-top: 20px;
  margin-bottom: 10px;
}

.createItem {
  display: inline-block;
  padding: 12px;
  color: #FFFFFF;
  margin-bottom: 8px;
  border-radius: 7px;
  background-color: #0774bc;
  cursor: pointer;
  transition: background-color .3s;
} 

.createItem:hover {
  background-color: #01467E;
}


.list {
  border: 1px solid #01467E;
  border-radius: 7px;
  border-collapse: separate;
  border-spacing: 0;
}

.list tr th {
  padding: 12px;
  border-right: 1px solid #01467E;
}

.list tr td {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 12px 20px;
  border-right: 1px solid #01467E;
  border-bottom: 1px solid #01467E;
}

.list tr td:nth-of-type(2) {
  max-width: none;
}

.list tr th:first-child,
.list tr td:first-child {
  border-left: 1px solid #01467E;
}

.list tr th {
  font-weight: 400;
  color: #FFFFFF;
  background: #01467E;
}

/* top-left border-radius */
.list tr:first-child th:first-child {
  border-top-left-radius: 7px;
}

/* top-right border-radius */
.list tr:first-child th:last-child {
  border-top-right-radius: 7px;
}

/* bottom-left border-radius */
.list tr:last-child td:first-child {
  border-bottom-left-radius: 7px;
}

/* bottom-right border-radius */
.list tr:last-child td:last-child {
  border-bottom-right-radius: 7px;
}

.list button,
.list a {
  fill: #01467E;
  background-color: transparent;
  cursor: pointer;
  transition: fill .3s;
}

.list button:hover svg,
.list a:hover svg {
  fill: #0774bc;
  animation: swing alternate infinite 2s;
}


@keyframes swing {

  50% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(15deg);
  }
}

@media (max-width: 1200px) {
  .mobile {
    display: table-cell;
  }

  .list th:nth-of-type(4),
  .list th:nth-of-type(5),
  .list th:nth-of-type(6),
  .list th:nth-of-type(7) {
    display: none;
  }

  .list td:nth-of-type(3),
  .list td:nth-of-type(4),
  .list td:nth-of-type(5),
  .list td:nth-of-type(6) {
    display: none;
  }

  .list tr td:nth-of-type(2) {
    max-width: 300px;
  }
}

@media (max-width: 1000px) {
  .listItems {
    margin-left: 20px;
  }

  .list tr td:nth-of-type(2) {
    max-width: 400px;
  }
}

@media (max-width: 768px) {
  .listItems {
    margin-left: 20px;
  }

  .list tr td:nth-of-type(2) {
    max-width: 250px;
  }
}

@media (max-width: 600px) {
  .listItems {
    margin-left: 20px;
  }

  .list tr td:nth-of-type(2) {
    max-width: 100px;
  }
}

@media (max-width: 440px) {
  .listItems {
    margin-left: 20px;
  }

  .list tr th:nth-of-type(2),
  .list tr td:nth-of-type(2) {
    display: none;
  }
} 

@media (max-width: 345px) {
  .listItems {
    margin-left: 20px;
  }
} 