.itemForm h1 {
  color: #01467E;
}

.itemForm form {
  display: grid;
  gap: 20px;
  width: 800px;
  grid-template-areas:  "itemName itemName itemName"
                        "measure  quantity price"
                        "fabrication hasExpiration expiration"
                        "register register cancel";

}

.itemForm form > div {
  position: relative;
}

.itemForm form > div:nth-child(1) {
  grid-area: itemName;
}

.itemForm form > div:nth-child(2) {
  grid-area: measure;
}

.itemForm form > div:nth-child(3) {
  grid-area: quantity;
}

.itemForm form > div:nth-child(4) {
  grid-area: price;
}

.itemForm form > div:nth-child(5) {
  grid-area: fabrication;
}

.itemForm form > div:nth-child(6) {
  grid-area: hasExpiration;
}

.itemForm form > div:nth-child(7) {
  grid-area: expiration;
}

.itemForm button,
.itemForm a {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
  padding: 12px 20px;
  color: #FFFFFF;
  border-radius: 7px;
  transition: background-color .3s;
  cursor: pointer;
}

.registerButton {
  background-color: #0774bc;
  grid-area: register;
}

.registerButton:hover {
  background-color: #01467E;
}

.cancelLink {
  background-color: #2B2B2B;
  grid-area: cancel;
}

.cancelLink:hover {
  background-color: #444444;
}

@media (max-width: 1160px) {
  .itemForm form {
    width: auto;
    margin-right: 20px;
    grid-template-areas:  "itemName itemName"
                          "measure  quantity"
                          "price fabrication"
                          "hasExpiration expiration"
                          "register cancel";
    grid-template-columns: auto auto;
  }
}

@media (max-width: 1000px) {
  .itemForm {
    margin-left: 20px;
  }

  .itemForm form {
    display: flex;
    flex-direction: column;
  }

  .itemForm input {
    width: 100%;
  }

  .itemForm button {
    margin-top: 0px;
  }
}


@media (max-width: 425px) {
  .itemForm {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

