.container {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: start;
  gap: 40px;
}

@media (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr;
    gap: 0px;
  }
}