.itemInfo {
  padding: 20px;
  border-radius: 7px;
  background-color: #01467E;
}

.itemInfo ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.itemInfo li {
  color: #d6d6d6;
  white-space: break-spaces;
  word-wrap: break-word;
}

.itemInfo span {
  color: #FFFFFF;
  font-weight: 500;
}
